@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-4;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  h4 {
    @apply text-base font-semibold;
  }

  p.error {
    @apply text-red-700 bg-red-100 font-semibold;
    @apply border border-red-400 px-4 py-3 rounded;
  }

  p.info {
    @apply text-blue-700 bg-blue-100 font-semibold;
    @apply border border-blue-400 px-4 py-3 rounded;
  }

  label {
    @apply block text-sm font-medium text-gray-700 text-left;
  }

  input {
    @apply mt-1 focus:outline-none focus:ring-gray-600 focus:ring-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
  }

  select {
    @apply mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
  }

  button,
  a.button {
    @apply ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }

  table th,
  table td {
    @apply border border-gray-400 w-1/4 px-4 py-2;
  }

  table th,
  table tbody tr:nth-of-type(2n) {
    @apply bg-gray-100;
  }
}
