@tailwind base;
@tailwind components;
@tailwind utilities;

label {
    @apply block text-sm font-medium text-gray-700 text-left;
}

input {
    @apply mt-1 focus:outline-none focus:ring-gray-600 focus:ring-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
}

select {
    @apply mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
}

button {
    @apply ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}
